body{
    background-color: darkred;
    justify-content: center;
    text-align: center;
    color: beige;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
}
.contenedorproductos{
    width: 200px;
    height: 100px;
    background-color: beige;
}